# to avoid maven dependencies be pushed  
target/
.m2/
*.jar
*.war
# to avoid eclipse settings be pushed 
.settings/
# Eclipse/STS
.metadata/
# Compiled bytecode
*.class
.project
.classpath
/bin/

#git add .gitignore target/ .m2/ *.jar *.war .settings/ .metadata/ .project .classpath bin/
#git commit -m "Add files to be tracked locally but not pushed"
#git push origin <branch-name>