# to avoid maven dependencies be pushed  
target/
.m2/
*.war
# to avoid eclipse settings be pushed 
.settings/
# Eclipse/STS
.metadata/
# Compiled bytecode
*.class
.project
.classpath
/bin/

#git add -f .gitignore target/ .settings/ .project .classpath bin/
#git commit -m "Add files to be tracked locally but not pushed"
#git push origin <branch-name>

.google-java-format